<!DOCTYPE html>
<html>
  <head>
    <title>Pinshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.profile_img_logo = "<%= image_url('profile_image_logo.png')%>"
      window.board_photo = "<%= image_url('board_photo.jpg')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
